@charset "UTF-8";

*{
    margin: 0px;
}
    body{
        background-color: var(--fundoarticle);
    }

:root{
    --TextoTitulo: #323517;
    --Linktitulo: #1d1f0e;
    --fundoarticle: #accc85;
    --paragrafo: #E8FCD2;
}

/* ----------- header -----------  */

header{
    background-color:  #5F752B;
    height: 25vw;
    color: var(--TextoTitulo);

}
@font-face {
    font-family: 'LordOfRings';
    src: url('fonts/ringbearer/RINGM___.TTF') format(truetype);}
    @font-face {
        font-family: 'runas';
        src: url('fonts/elder_futhark/RUNE.TTF') format(truetype);}
    @font-face {
        font-family: 'tengwar';
        src: url('fonts/tengwar_annatar/tngan.ttf') format(truetype);}
header h1{
    text-align: center;
    font-size: 6vw;
    padding-top: 5vw;
    font-family: 'LordOfRings';
    font-weight: normal;
}
.runas{
    font-family: 'tengwar';
    font-size: 1.7vw;
    padding-top: 5vw;
}
header > p{
    text-align: center;
    font-size: 2.5vw;
    padding-top: 1vw;
    font-style: italic;
}
.tlink{
    text-decoration: none;
    font-weight: bold;
    color: var(--TextoTitulo);
    margin: auto;
}
.tlink:hover{
    color: var(--Linktitulo);
    text-decoration: underline;
}
.tlink{
    color: var(--Linktitulo);
}

/* ----------- header -----------  */
/* ----------- main -----------  */

main{
    font-family: Arial, Helvetica, sans-serif;
}
main p{
    margin: 0px 0px 20px 40px;
    color: var(--paragrafo);
    font-family: 'Times New Roman', Times, serif;
}
.fundoarticle{
    height: 40vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    font-size: 2.7vw;
    line-height: 1.8em;
    background-color: var(--fundoarticle);
}

.articleimage1{
    background-image: url('https://i.pinimg.com/originals/7e/36/a4/7e36a4a90bd5665e191e3ecbae053a29.jpg');
    margin: 20px 0px;
    height: 40vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    font-size: 2.7vw;
    line-height: 1.8em;
    padding-top: 5vw;
    padding-bottom: 5vw;
    box-shadow: inset 0vw 1vw 4vw black, inset 0vw -1vw 4vw black;
    
}
.articleimage1 > p{
    background-color: #1d1f0eb4;
    width: 55vw;
    border-radius: 20px;
    padding-left: 1.5vw;
}
.articleimage2{
    background-image: url('https://www.360meridianos.com/wp-content/uploads/2012/10/O-senhor-dos-an%C3%A9is-na-Nova-Zel%C3%A2ndia.jpg');
    margin: 20px 0px;
    height: 40vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    font-size: 2.7vw;
    line-height: 1.8em;
    padding-top: 5vw;
    padding-bottom: 5vw;
    box-shadow: inset 0vw 1vw 4vw black, inset 0vw -1vw 4vw black;
}
.articleimage2 > p{
    background-color: #1d1f0eb4;
    width: 55vw;
    border-radius: 20px;
    padding-left: 1.5vw;
}

.articleimage3{
    background-image: url('https://img.wattpad.com/cdefc12bc58326de39c34dec02f43f94d81ac057/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f5a39645a7071726d476a577363673d3d2d3235363638363835392e313435323135323239303263346132312e6a7067?s=fit&w=720&h=720');
    margin: 20px 0px;
    height: 40v2;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    font-size: 2.7vw;
    line-height: 1.8em;
    padding-top: 5vw;
    padding-bottom: 5vw;
    box-shadow: inset 0vw 1vw 4vw black, inset 0vw -1vw 4vw black;
}
.articleimage3 > p{
    background-color: #1d1f0eb4;
    width: 55vw;
    border-radius: 20px;
    padding-left: 1.5vw;
}
.articleimage4{
    background-image: url('https://mobimg.b-cdn.net/v3/fetch/a0/a04c3062750fbd28d0fca73d2d941ea3.jpeg');
    margin: 20px 0px;
    height: 40vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    font-size: 2.7vw;
    line-height: 1.8em;
    padding-top: 5vw;
    padding-bottom: 5vw;
    box-shadow: inset 0vw 1vw 4vw black, inset 0vw -1vw 4vw black;
}
.articleimage4 > p{
    background-color: #1d1f0eb4;
    width: 55vw;
    border-radius: 20px;
    padding-left: 1.5vw;
}
/* ----------- main -----------  */
/* ----------- footer -----------  */
footer{
background-color: #5F752B;
height: 7vw;
margin: 0px;
color: var(--TextoTitulo);
box-shadow: 0vw -0.03vw 0.5vw black;
}
footer p{
    margin: 0px;
    padding-top: 1vw;
    text-align: center;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: var(--TextoTitulo);
}
footer > p > a{
    color: var(--TextoTitulo);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
footer > p > a:hover{
    text-decoration: underline;
}
.runas2{
    padding-top: 0.5vw;
    font-family: 'tengwar';
    font-size: 1.5vw;
    padding-bottom: 0.5vw;
    color: var(--TextoTitulo);
}
.runas2 > a{
    text-decoration: none;
    color: var(--TextoTitulo);
}




/* ----------- footer -----------  */
